@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Please select your date for the week.</h2>
    <form method="post">
        <input type="date" name="weekDate" value="2022-06-01" min="2020-01-01" max="@ViewData["MaxFormDate"]">

        <input type="submit">
    </form>

    <div class="border bg-white mt-4">
        <br />
        @foreach (var item in Model.ResultStrings)
        {
            <div>
                @Html.DisplayFor(m => item)
            </div>
        }
    </div>
</div>
